{% extends 'adminlte/lib/_main_sidebar.html' %}

{% block nav_links %}
    <li class="treeview">
        <a href="#">
            <i class="fa fa-tachometer"></i>
            <span>菜单</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="{% url 'temperature_measures' %}">
                    <i class="fa fa-circle-o"></i>
                    温度
                </a>
            </li>
            <li>
                <a href="{% url  'humidity_measures' %}">
                    <i class="fa fa-circle-o"></i>
                    湿度
                </a>
            </li>
        </ul>
    </li>
        <li class="treeview">
        <a href="#">
            <i class="fa fa-line-chart"></i>
            <span>折线图</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="{% url 'temperature_chart' %}">
                    <i class="fa fa-circle-o"></i>
                    温度
                </a>
            </li>
            <li>
                <a href="{% url  'humidity_chart' %}">
                    <i class="fa fa-circle-o"></i>
                    湿度
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="{% url 'actuators' %}">
            <i class="fa fa-lightbulb-o"></i> <span>控制</span>
        </a>
    </li>
    
{% endblock nav_links %}
