{% extends 'adminlte/base.html' %}

{% block title %}力江物联网平台{% endblock %}
{% block page_name %}控制{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3>Actuators</h3>
                </div>
                <div class="box-body">
                    <button id="blink_led" class="btn btn-info btn-lg">控制按钮</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{{ block.super }}
    <script type="text/javascript">
        $(document).ready( function () {
            $('#blink_led').click( function () {
                $.get({
                    url: '{% url "blink_led" %}'
                });
            });
        })
    </script>
{% endblock %}