{% extends 'adminlte/base.html' %}

{% block title %}力江物联网平台{% endblock %}
{% block page_name %} Humidity Measures {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3>Humidity Measures Table</h3>
                </div>
                <div class="box-body">
                    <table class="table table-bordered">
                        <thead>
                        <th>Id</th>
                        <th>Measure</th>
                        <th>Created_at</th>
                        </thead>
                        <tbody>
                        {% for humidity_measure in humidity_measures %}
                            <tr>
                                <th>{{ humidity_measure.id }}</th>
                                <th>{{ humidity_measure.measure }}</th>
                                <th>{{ humidity_measure.created_at|date:'Y-m-d H:i:s' }} </th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="pagination pull-right">
                        <span class="step-links">
                            {% if humidity_measures.has_previous %}
                                <a class="btn btn-default" href="?page=1">&laquo; first</a>
                                <a class="btn btn-default" href="?page={{ humidity_measures.previous_page_number }}">previous</a>
                            {% endif %}

                        <span class="current">
                            Page {{ humidity_measures.number }} of {{ humidity_measures.paginator.num_pages }}.
                        </span>

                        {% if humidity_measures.has_next %}
                            <a class="btn btn-default" href="?page={{ humidity_measures.next_page_number }}">next</a>
                            <a class="btn btn-default" href="?page={{ humidity_measures.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}