{% extends 'adminlte/base.html' %}

{% block title %}力江物联网平台{% endblock %}
{% block page_name %}控制{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3>控制按钮</h3>
                </div>
                <div class="box-body">
                 <div class ="switch">
                    {% if relays_list.measure == "true" %}
                        <input  type="checkbox"   class="checkbox" value="" checked="checked"/>
                    {% endif %}
                    {% if relays_list.measure == "false" %}
                        <input  type="checkbox"   class="checkbox" value="" />
                    {% endif %}
                </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
{{ block.super }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>

    <script type="text/javascript">

/* bootstrap开关控件，初始化 */
$(function(){
        /* 初始化控件 */
        $(".checkbox").bootstrapSwitch({
            onText : "闭合",      // 设置ON文本
            offText : "断开",    // 设置OFF文本
            onColor : "success",// 设置ON文本颜色     (info/success/warning/danger/primary)
            offColor : "danger",  // 设置OFF文本颜色        (info/success/warning/danger/primary)
            size : "normal",    // 设置控件大小,从小到大  (mini/small/normal/large)
            handleWidth:"35",//设置控件宽度
            // 当开关状态改变时触发
            onSwitchChange : function(event, state) {
               // alert("status change");
            var ProductId = event.target.defaultValue;
               //alert(ProductId);
                if (state == true) {
                //上线
               // updateState(ProductId);
                $.get({
                    url: '{% url "blink_led_on" %}'
                });
                    //alert("ON");
                } else {
                //下线
               // updateState(ProductId);
                     //alert("OFF");
                    $.get({
                    url: '{% url "blink_led_off" %}'
                });
                }
            }
        });
    });
</script>
{% endblock %}
